body {
  font-family: 'Arial',sans-serif;
  background: linear-gradient(to right,#5c8186,hsl(180, 89%, 51%));
  text-align: center;
  padding: 20px;
}

#weather-container {
    margin: auto;
    background: #03f3fc;
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    text-align: center;

}

h2,
label,
p {
    color: #fff;
    margin: 8px 0;
}
input,button{
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

input {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 20px;

}

button {
    background: #995ac5;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 25px;

}

button:hover {
    background: hsl(197, 100%, 69%);
}

#temp-div p {
    width: 60px;
    margin-top: -30px;

}

#weather-info {
    font-size: 20px;

}

#weather-icon {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: none;
    display: none;
}

#hourly-forecast {
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;

}

.hourly-item {
    .hourly-item {
    display: inline-block;
    margin: 10px;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
};
}

.hourly-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;

}

#hourly-heading {
    color: #fff;
    margin-top: 10px;
}